{% load static %}

<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Alanno</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/utils/modernizr.js' %}"></script>
    <script src="{% static 'js/utils/pace.min.js' %}"></script>
    <script src="{% static 'js/utils/jquery.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="row">
            <div class="header-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.svg' %}" alt="Homepage" style="width: 30%; height: auto;">
                </a>
            </div>
            <!-- <div class="header-logo-secondary">
                <a href="https://takelab.fer.hr/" alt="TakeLab">
                    <img src="{% static 'images/tl-logo.png' %}" style="width: 35px; height: 35px;">
                </a>
            </div> -->
        </div>



        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                {% if user.is_authenticated %}
                <h3>{{ user }}</h3>
                {% else %}
                <h3>Navigation</h3>
                {% endif %}

                <ul class="header-nav__list">
                    <a class="smoothscroll" href="#home" title="home">
                        <li class="current">Home</li>
                    </a>
                    <a class="smoothscroll" href="#about" title="about">
                        <li>About</li>
                    </a>
                    <a class="smoothscroll" href="#services" title="services">
                        <li>Services</li>
                    </a>
                    <a class="smoothscroll" href="#works" title="works">
                        <li>Functionality</li>
                    </a>
                    <a class="smoothscroll" href="#clients" title="clients">
                        <li>Technologies</li>
                    </a>
                    <a class="smoothscroll" href="#contact" title="contact">
                        <li>Contact</li>
                    </a>
                    <br>


                    {% if user.is_authenticated %}
                    <a href="{% url 'projects' %}" title="projects">
                        <li><i class="fa fa-book" aria-hidden="true"></i> Projects</li>
                    </a>
                    <a href="{% url 'instructions' %}" title="projects">
                        <li><i class="fa fa-info-circle" aria-hidden="true"></i> Alanno Guide</li>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <li><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</li>
                    </a>
                    <a href="{% url 'register' %}">
                        <li><i class="fa fa-user-plus" aria-hidden="true"></i> Register</li>
                    </a>
                    {% endif %}

                </ul>

                <p>Better performance with less data annotation.</p>

                {% if user.is_authenticated %}
                <ul class="header-nav__list">
                    <a href="{% url 'logout' %}">
                        <li><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</li>
                    </a>
                </ul>
                {% endif %}

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll"
        data-image-src="{% static 'images/home-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000
        data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome to Alanno</h3>

                <h1>
                    Annotation Powered by <br>
                    Active Learning
                </h1>
                <h2 style="color: white;">
                    Better performance with less data annotation.
                </h2>

                <div class="home-content__buttons">
                    {% if user.is_authenticated %}
                    <a href="{% url 'projects' %}" class="btn btn--stroke">
                        Projects
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn--stroke">
                        Log In
                    </a>
                    {% endif %}
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        About
                    </a>
                    {% if user.is_authenticated %}
                    <a href="/instructions" class="btn btn--stroke">
                        Alanno Guide
                    </a>
                    {% else %}
                    <a href="{% url 'register' %}" class="btn btn--stroke">
                        Register
                    </a>
                    {% endif %}
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'projects' %}"><i class="fa fa-book" aria-hidden="true"></i><span>Projects</span></a>
            </li>
            <li>
                <a href="/instructions"><i class="fa fa-info" aria-hidden="true"></i><span>Help</span></a>
            </li>
            <li>
                <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Logout</span></a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i><span>Login</span></a>
            </li>
            <li>
                <a href="{% url 'register' %}"><i class="fa fa-user-plus"
                        aria-hidden="true"></i><span>Register</span></a>
            </li>
            {% endif %}
        </ul>
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">Hello There</h3>
                <h1 class="display-1 display-1--light">We Are Alanno</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                    We provide a powerful annotation tool that supports plentiful machine learning and deep learning
                    models.
                    Its main focus is natural language processing with variety of different NLP tasks.
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

            <div class="col-block stats__col ">
                <div class="stats__count">5</div>
                <h5>Annotation Modes</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">14</div>
                <h5>Models</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">11</div>
                <h5>Active Learning Strategies</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">2</div>
                <h5>Languages</h5>
            </div>

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What We Do</h3>
                <h1 class="display-2">Service features</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-paint-brush"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Multi-annotator setup</h3>
                    <p>Ensuring high-quality annotations by novel document distribution
                        methods that enable annotator cooperation.
                        Advanced statistics measure inter-annotator agreement by annotation rounds,
                        which helps manage multiple annotators and provide the desired standard of produced annotations.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Human performance vs. NLP models</h3>
                    <p>Human annotators work in tandem with modern machine learning models
                        to optimize the annotation process.
                        The model's performance is tracked throughout the annotation process
                        and forecasted for future annotation rounds to facilitate the stopping decision.
                    </p>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Annotation Modes</h3>
                    <h1 class="display-2 display-2--light">Support for major NLP tasks and more</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="{% static 'images/projects/img-0.jpg' %}" class="thumb-link"
                                    title="Text Classification" data-size="1050x700">
                                    <img src="{% static 'images/projects/img-0.jpg' %}" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Text Classification
                                </h3>
                                <p class="item-folio__cat">
                                    Binary
                                </p>
                            </div>

                            <a class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                                    dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="{% static 'images/projects/img-7.jpg' %}" class="thumb-link"
                                    title="Text Classification" data-size="1050x700">
                                    <img src="{% static 'images/projects/img-7.jpg' %}" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Text Classification
                                </h3>
                                <p class="item-folio__cat">
                                    Multi-class
                                </p>
                            </div>

                            <a class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                                    dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="{% static 'images/projects/img-8.jpg' %}" class="thumb-link"
                                    title="The Beetle Car" data-size="1050x700">
                                    <img src="{% static 'images/projects/img-8.jpg' %}" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Text Classification
                                </h3>
                                <p class="item-folio__cat">
                                    Multi-label
                                </p>
                            </div>

                            <a class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                                    dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="{% static 'images/projects/img-9.jpg' %}" class="thumb-link" title="Grow Green"
                                    data-size="1050x700">
                                    <img src="{% static 'images/projects/img-9.jpg' %}" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Sequence Labeling
                                </h3>
                                <p class="item-folio__cat">
                                    NER, POS
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                                    dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="{% static 'images/projects/img-4.jpg' %}" class="thumb-link" title="Guitarist"
                                    data-size="1050x700">
                                    <img src="{% static 'images/projects/img-4.jpg' %}" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Sequence-to-Sequence
                                </h3>
                                <p class="item-folio__cat">
                                    Machine Translation
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                                    dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="{% static 'images/projects/img-6.jpg' %}" class="thumb-link" title="Palmeira"
                                    data-size="1050x700">
                                    <img src="{% static 'images/projects/img-6.jpg' %}" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Keyphrase Extraction
                                </h3>
                                <p class="item-folio__cat">
                                    KEX
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                                    dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> <!-- end masonry__brick -->

                </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->


    <!-- clients
    ================================================== -->
    <section id="clients" class="s-clients">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Building blocks of Alanno</h3>
                <h3 class="display-2">Technologies</h3>
            </div>
        </div> <!-- end section-header -->

        <div class="row clients-outer" data-aos="fade-up">
            <div class="col-full">
                <div class="clients">

                    <a href="https://www.python.org/" title="python" class="clients__slide"><img
                            src="{% static 'images/clients/python.png' %}" /></a>
                    <a href="https://pytorch.org/" title="pytorch" class="clients__slide"><img
                            src="{% static 'images/clients/pytorch.png' %}" /></a>
                    <a href="https://pyro.ai/" title="pyro" class="clients__slide"><img
                            src="{% static 'images/clients/pyro.png' %}" /></a>
                    <a href="https://scikit-learn.org/stable/" title="scikit-learn" class="clients__slide"><img
                            src="{% static 'images/clients/sklearn.png' %}" /></a>
                    <a href="https://www.djangoproject.com/" title="django" class="clients__slide"><img
                            src="{% static 'images/clients/django.png' %}" /></a>
                    <a href="https://www.docker.com/" title="docker" class="clients__slide"><img
                            src="{% static 'images/clients/docker.png' %}" /></a>
                    <a href="https://vuejs.org/" title="vue-js" class="clients__slide"><img
                            src="{% static 'images/clients/vue.png' %}" /></a>

                </div> <!-- end clients -->
            </div> <!-- end col-full -->
        </div> <!-- end clients-outer -->

        <div class="row clients-testimonials" data-aos="fade-up">
            <div class="col-full">
                <div class="testimonials">

                    <div class="testimonials__slide" style="font-size: 10;">

                        We are the <b>Text Analysis and Knowledge Engineering Lab</b>,
                        a creative research group based in the University of Zagreb,
                        Faculty of Electrical Engineering and Computing, Croatia.

                        We specialize in natural language processing,
                        machine learning, and text analytics.

                        Our mission is to help people make sense of often
                        large amounts of unstructured data expressed in natural language.

                        The tedious data analyses should be done by the machines,
                        so that humans can focus on higher-level cognitive tasks,
                        such as creative thinking, decision making, and problem solving.

                        <br>
                        <br>

                        <img src="{% static 'images/tl-logo.png' %}" alt="TL" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <a class="testimonials__name" href="https://takelab.fer.hr/">TakeLab</a>
                            <span class="testimonials__pos">NLP research group</span>
                        </div>

                    </div>

                </div><!-- end testimonials -->

            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Alanno team</h3>
                <h1 class="display-2 display-2--light">Who is behind Alanno?</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">

            <div class="col-six tab-full">
                <h5>Main contributors</h5>
                <ul>
                    <li>Fran Jelenić</li>
                    <li>Miroslav Bićanić</li>
                    <li>Josip Jukić</li>
                </ul>
            </div>

            <div class="col-six tab-full">
                <h5>Other contributors</h5>
                <ul>
                    <li>Ivan Crnomarković</li>
                    <li>Dorian Ivanković</li>
                </ul>
            </div>
            <div class="col-six tab-full">
                <h5>Email contact</h5>
                <ul>
                    <li>josip.jukic@fer.hr</li>
                </ul>
            </div>
        </div>



        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

                <div class="footer-logo"></div>
                Alanno is designed to reduce the expenses of annotation in developing machine learning models.
                The system guides you which examples to label, choosing the most informative ones based on SOTA active
                learning strategies.
            </div>

            <div class="col-six tab-full right footer-subscribe">

                <h4>Reach Out</h4>
                <p>If you are interested in our services or wish to know more about what we do, feel free to contact via
                    mail (josip.jukic@fer.hr).</p>

                <!-- <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                            placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div> -->

            </div>

        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Alanno 2022</span>
                    <span>Site Template by <a href="https://www.colorlib.com/">Colorlib</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"
                            aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                        title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                        title="Share"></button> <button class="pswp__button pswp__button--fs"
                        title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                        title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>